---
import Layout from '../layouts/Layout.astro';
import HomeBanner from '../components/HomeBanner.astro';
import Services from '../components/Services.astro'
import Header from '../components/Header.astro';
import WhatWeTake from '../components/WhatWeTake.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <Header />
    <HomeBanner/>
        <Services/>


<WhatWeTake/>

    <div class='what-we-take'>
      <div class='list-box'>
        <!-- <h3>title</h3> -->
        <ul class='list'>
          <li class='list-item'><span>Couch</span></li>
          <li class='list-item'><span>Mattress</span></li>
          <li class='list-item'><span>Bed </span></li>
          <li class='list-item'><span>Futon</span></li>
          <li class='list-item'><span>Box Spring </span></li>
          <li class='list-item'><span>Sofa</span></li>
        </ul>
            <ul class='list'>
          <li class='list-item'><span>Couch</span></li>
          <li class='list-item'><span>Mattress</span></li>
          <li class='list-item'><span>Bed </span></li>
          <li class='list-item'><span>Futon</span></li>
          <li class='list-item'><span>Box Spring </span></li>
          <li class='list-item'><span>Sofa</span></li>
        </ul>
      </div>

      <div class=''>
        <ul class='list'>
          <li class='list-item'><span>Couch</span></li>
          <li class='list-item'><span>Mattress</span></li>

          <li class='list-item'><span>Bed </span></li>

          <li class='list-item'><span>Futon</span></li>
          <li class='list-item'><span>Box Spring </span></li>

          <li class='list-item'><span>Sofa</span></li>
        </ul>
      </div>
      <div class=''>
        <ul class='list'>
          <li class='list-item'><span>Couch</span></li>
          <li class='list-item'><span>Mattress</span></li>

          <li class='list-item'><span>Bed </span></li>

          <li class='list-item'><span>Futon</span></li>
          <li class='list-item'><span>Box Spring </span></li>

          <li class='list-item'><span>Sofa</span></li>
        </ul>
      </div>




    </div>

          <div class='centered'>centered text</div>
                <div class='steps'>steps</div>
    <section>
      <div class='container'>
        <div class='services'>
          <ul class='cards'>
            <li class='card card-active'>
              <a href=''>
                <h2>Estimate</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <button>Lorem Ipsum</button>
              </a>
            </li>
            <li class='card'>
              <a href=''>
                <h2>Scheduling</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <button>Lorem Ipsum</button>
              </a>
            </li>
            <li class='card'>
              <a href=''>
                <h2>Removal</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <button>Lorem Ipsum</button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- <Services/> -->
  </main>
</Layout>

<style>
  main {
    /* margin: auto; */
    padding: 1rem 2rem;
    /* width: 900px; */
    max-width: calc(100% - 1rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
 
  .grid-2-col {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    padding: 3rem;
    align-items: start;

  }

      .flex-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border: 5px solid #000;
  
    }

    .flex-items-inner {
      margin: 0.3rem 0.2rem;
      border: 5px solid #aaa;
      background-color: #000;
      color: #fff;
      padding: 0.1em;
      flex-shrink: 1;
      flex-basis: calc(45% - 1rem);
    }

  

  .section-services {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1em;
    padding: 3rem;
    max-width: 1200px;
    margin-inline: auto;
  }

  .section-services > :first-child {
    flex-basis: 200px;
    flex-grow: 1;
  }

  .section-services > :last-child {
    flex-basis: 300px;
    flex-grow: 9999;
  }

  span {
    display: inline-block;
    background-color: pink;
    border-radius: 5px;
    margin: 3px auto;
    padding: 5px 0;
    text-align: center;

    max-width: 250px;
  }
  .flex1,
  .flex2,
  .flex3,
  .flex4,
  .flex5 {
    display: flex;
    outline: 2px solid black;
    margin-block: 1rem;
  } 
  .flex1 > span {
    flex: 8.8%;
  }
  .flex2 > span {
    flex: 33.33%;
  }

  .what-we-take {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 8rem 3.5rem;
    place-items: center;
    outline: solid 3px #fdf2e9; */
    /* margin: 0 auto;

    /* min-height: 70vh;
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
    place-content: center;
    justify-items: center; */
  }

  .list-box {
    background: #fdf2e9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
  .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* gap: 1.6rem; */
  }

  .list-item {
    font-size: 1rem;
    display: flex;
    background: #fdf2e9;
    /* align-items: center; */
    /* gap: 1.6rem; */
    line-height: 1.2;
  }

  .services .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .card a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }

  .card h2 {
    color: #fff;
  }

  .card p {
    color: #ccc;
  }
</style>
