---

---

<section class='container center-text eco-banner'>
  <span class='subheading'>ECO-FRIENDLY</span>
  <h2 class='heading-secondary'>
    Recycle, Donate, Dispose Of and removes it accordingly
  </h2>
</section>

<style>
  .eco-banner {
    background-color: var(--clr-secondary-500);
    /* width: 100%; */
  }

  .container {
    /* 1140px */
    /* max-width: 120rem; */
    /* padding: 0 3.2rem; */
    /* width: 100%; */
    /* margin: 0 auto; */
  }
  .subheading {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: #cf711f;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
  }

  .center-text {
    text-align: center;
    margin: 5rem 0;
  }
</style>
