---
import Form from './Form.astro';
import SectionContainer from './SectionContainer.astro';
---

<div class='section-hero'>
  <div class='hero'>
    <div class='hero-text-box'>
      <div class='header__title'>
        <h1>
          LEAVE THE
          <!-- Green highlight effect -->
          <span class='highlight'>JUNK</span>
          TO US <br />
          <span class='highlight'>SAN JOSE</span>
        </h1>
        <p class='hero-description'>
          We handle the heavy lifting, so you don't have to! At Junk Gone
          Hauling and Junk Removal Services, we offer professional, reliable,
          and eco-friendly junk removal services tailored for San Jose residents
          and businesses.
        </p>
        <button class='btn--text btn--scroll-to'>Learn more &DownArrow;</button>
      </div>
    </div>
    <Form />
  </div>
</div>

<style lang='scss'>
  .section-hero {
    min-height: 70vh;
    position: relative;
    background-color: transparent;
    outline: solid 3px #fdf2e9;
    padding: max(4rem, 15vh) 0;
  }

  .section-hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 255, 0.144),
        rgba(0, 119, 255, 0.421)
      ),
      url('../../public/image-1.jpeg');
    opacity: 0.2; /* Set the desired opacity level here */
    background-position: bottom;
    background-size: cover;
    z-index: -1; /* Ensures the content of the container is not affected */
  }

  .hero {
    /* 2080px */
    max-width: 130rem;
    margin: 0 auto;
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: minmax(300px, 0.9fr) minmax(330px, 1.1fr);
    gap: 4rem;
    place-items: center;
  }

  .hero-text-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 2rem;
      font-weight: 500;
      color: rgb(43, 43, 43);
    }
  }
  .header__title {
    flex: 1;
    // font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-size: 4.3rem;
    line-height: 1.35;
    color: var(--clr-text);
    display: grid;
    font-weight: 700;
    row-gap: 6rem;
    align-content: center;
    justify-content: center;

    align-items: start;
    justify-items: start;
  }

  .highlight {
    position: relative;
    z-index: 1;
  }

  .highlight::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: var(--gradient-primary);
  }

  /* 
  @media (min-width: 801px) and (max-width: 1200px) {
    .hero {
      grid-template-columns: minmax(300px, 0.9fr) minmax(350px, 1.1fr);
    
  } */

  .btn {
    display: inline-block;
    background-color: var(--color-primary);
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 1.25rem 4.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
  }

  .btn:hover {
    background-color: var(--color-primary-darker);
  }

  .btn--text {
    display: inline-block;
    background: none;
    font-size: 1.7rem;
    font-family: inherit;
    font-weight: 500;
    color: var(--color-primary);
    border: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    cursor: pointer;
    transition: all 0.3s;
  }

  @media (max-width: 59em) {
    .hero {
      padding: 2rem 1rem;
      gap: 1rem;
      grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
    }

    .header__title {
      flex: 1;
      font-size: 4rem;
      display: grid;
      padding: 0 3rem;
      row-gap: 5rem;
    }

    .hero-text-box {
      background-color: rgba(245, 224, 210, 0.28);
    }
  }

  @media (max-width: 44em) {
    .hero {
      padding: 0 1rem;
      gap: 1.5rem;
      grid-template-columns: 1fr;
    }

    .hero-text-box {
      height: 75vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .header__title {
      /* z-index: 100; */
      flex: 1;
      font-size: 3.9rem;
      font-weight: 700;
      /* grid-template-columns: 2fr 1fr; */
      row-gap: 4.5rem;
    }
  }
</style>
