---
import Form from './Form.astro';
---

<div class='section-hero'>
  <div class='hero'>
    <div class='hero-text-box'>
      <h1 class='heading-primary'>LEAVE THE JUNK TO US SJ!</h1>
      <p class='hero-description'>
        We provide complete junk removal solutions in Hollister, CA. We handle
        the heavy lifting, so you don't have to.
      </p>
      <a href='#cta' class='btn btn--full margin-right-sm'>Get a quote</a>
      <!-- Corrected typo -->
    </div>
    <Form />
  </div>
</div>

<style>
  .section-hero {
    outline: solid 3px #fdf2e9;
    /* padding: 4.8rem 0 9.6rem 0; */
    padding: max(3rem, 8vh) 0;
  }

  .hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.5rem;
    display: grid;
    /* grid-template-columns: 0.8fr 1.3fr; */
    grid-template-columns: minmax(300px, 0.8fr) minmax(350px, 1.1fr);
    gap: 5rem;
    place-items: center;
  }

  /* 
  @media (min-width: 801px) and (max-width: 1200px) {
    .hero {
      grid-template-columns: minmax(300px, 0.9fr) minmax(350px, 1.1fr);
    
  } */

  @media (max-width: 59em) {
    .hero {
      padding: 2rem 1rem;
      gap: 1rem;
      background-color: blueviolet;
      grid-template-columns: minmax(310px, 1fr) minmax(300px, 1fr);
    }

    .hero-text-box {
      background-color: chocolate;
    }
  }

  @media (max-width: 44em) {
    .hero {
      padding: 0 1rem;
      gap: 1rem;
      background-color: rgb(143, 122, 162);
      grid-template-columns: 1fr;
    }
  }
</style>
