---
import Form from './Form.astro';
---

<div class='section-hero'>
  <div class='hero'>
    <div class='hero-text-box'>
      <h1 class='heading-primary'>LEAVE THE JUNK TO US SJ!</h1>
      <p class='hero-description'>
        We provide complete junk removal solutions in Hollister, CA. We handle
        the heavy lifting, so you don't have to.
      </p>
      <a href='#cta' class='btn btn--full margin-right-sm'>Get a quote</a>
      <!-- Corrected typo -->
    </div>
    <Form />
  </div>
</div>

<style>
  .section-hero {
    outline: solid 3px #fdf2e9;
    /* padding: 4.8rem 0 9.6rem 0; */
    padding: max(3rem, 8vh) 0;
  }

  .hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.5rem;
    display: grid;
    /* grid-template-columns: 0.8fr 1.3fr; */
    grid-template-columns: minmax(300px, 0.8fr) minmax(400px, 1.3fr);

    gap: 5rem;
    /* align-items: start; */
    place-items: center;
  }
  @media (max-width: 800px) {
    .hero {
      grid-template-columns: 1fr;
    }
  }

  @media (min-width: 801px) and (max-width: 1200px) {
    .hero {
      grid-template-columns: minmax(250px, 0.8fr) minmax(350px, 1.3fr);
    }
  }
  /* @media (max-width: 59em) {
    .hero {
      grid-template-columns: 1fr;
      padding: 0 8rem;
      gap: 6.4rem;
    }
  } */
  .form {
    background-color: #fdf2e9a4;
  }
</style>
