<section class='grid-2-col'>
  <div class='box-1'>
    <h2 class='heading-tertiary'>Services We Can Help You With</h2>
    <p>
      We offer various junk removal services to suit your needs, whether
      clearing out a home, disposing of old furniture or electronics, or
      post-sale cleanups.
    </p>
  </div>
  <div class='box-2'>
    <div class='flex-items'>
      <div class='flex-items-inner'>Mattress Removal</div>
      <div class='flex-items-inner'>Appliance Removal</div>
      <div class='flex-items-inner'>Hot Tub Removal</div>
      <div class='flex-items-inner'>Hoarder Cleanout</div>
      <div class='flex-items-inner'>Furniture Removal</div>
      <div class='flex-items-inner'>Cleanouts</div>
      <div class='flex-items-inner'>Piano Removal</div>
      <div class='flex-items-inner'>Junk Removal</div>
    </div>
  </div>
</section>

<style lang='scss'>
  .grid-2-col {
    display: grid;
    grid-template-columns: minmax(min(100%, 310px), 1fr) minmax(400px, 2fr);
    padding: 8rem 4rem;
    align-items: start;
    gap: 2.5rem;
    background-color: var(--clr-primary-600);
  }

  .box-1 h2 {
    margin: 0.8rem 0.5rem;
  }
  @media (max-width: 800px) {
    .grid-2-col {
      grid-template-columns: 1fr;
      padding: 3rem 0.5rem;
    }
  }

  .flex-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px solid #5d5d5d90;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 500;
  }

  .flex-items-inner {
    margin: 0.6rem 0.5rem;
    border: 5px solid var(--clr-secondary-100);
    background-color: var(--clr-primary-200);
    color: #fff;
    padding: 1.5rem 1rem;
    flex-shrink: 1;
    flex-basis: calc(45% - 1rem);
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 59em) {
    .grid-2-col {
      grid-template-columns: minmax(min(100%, 150px), 1fr) minmax(450px, 2fr);
      background-color: #df9a5e;
      padding: 8rem 5.35rem;
      gap: 0.5rem;
    }

    .flex-items {
      font-size: 1.6rem;
      letter-spacing: 1px;
    }

    .flex-items-inner {
      border: 5px solid #aaa;
      background-color: #000;
      color: #fff;
      /* padding: 0.1em; */
      /* flex-shrink: 2; */
      flex-basis: calc(40% - 0.2rem);
    }
  }

  @media (max-width: 44em) {
    .grid-2-col {
      grid-template-columns: 1fr;
      padding: 3rem 0.2rem;
    }
  }
</style>
